<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
    <title>{{title}} - {{author}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="application-name" content="Vibescout">
    <link rel="stylesheet" type="text/css" href="/build/styles.css">
    <script src="/build/vendor.js"></script>
</head>

<body>
<div id="root">{{{root}}}</div>

<script type="text/javascript">window.__INITIAL_STATE__ = JSON.stringify({{{initialState}}});</script>
<script src="/build/bundle.js"></script>
</body>

</html>
